Repository 3pwd/exercism: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint-rs, lint-bash

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    fmt:
      glob: '{\.*.{jsonc,,yml},**/*.{bash,json,jsonc,rs,toml,yaml,yml}}'
      run: .bin/dprint fmt
      stage_fixed: true
    lint-rs:
      glob: "rust/**/*.rs"
      run: cargo clippy
    lint-bash:
      glob: "bash/**/*.bash"
      exclude:
        - bash/**/bats-extra.bash
      run: .bin/shellcheck -a {staged_files}

ci: fix
  .github/workflows/pr.yml
Due: fmt

chore: optimize lefthook
  .github/workflows/pr.yml
  .lefthook.yml
Due: fmt

ci: use cache to install rust
  .github/workflows/pr.yml
  rust/bob/src/lib.rs
Due: fmt, lint-rs

ci: fix dprint use
  .github/workflows/pr.yml
Due: fmt

debug
  .github/workflows/pr.yml
Due: fmt

chore: remove debug
  .github/workflows/pr.yml
  rust/bob/src/lib.rs
Due: fmt, lint-rs

ci: use cache to install rust (#29)
  .github/workflows/pr.yml
Due: fmt

refactor: lint `bob`
  rust/bob/src/lib.rs
Due: fmt, lint-rs

refactor(rust): lint `matching-brackets`
  rust/matching-brackets/src/lib.rs
Due: fmt, lint-rs

refactor(rust): refactor `alphametics`
  rust/alphametics/src/lib.rs
Due: fmt, lint-rs

refactor(rust): lint (#30)
  rust/alphametics/src/lib.rs
  rust/bob/src/lib.rs
  rust/matching-brackets/src/lib.rs
Due: fmt, lint-rs

chore: change bash exts from `bash` to `sh`
  .dprint.jsonc
  .lefthook.yml
  bash/acronym/acronym.sh
  bash/acronym/bats-extra.sh
  bash/armstrong-numbers/armstrong_numbers.sh
  bash/armstrong-numbers/bats-extra.sh
  bash/bob/bats-extra.sh
  bash/bob/bob.sh
  bash/darts/bats-extra.sh
  bash/darts/darts.sh
  bash/dnd-character/bats-extra.sh
  bash/dnd-character/dnd_character.sh
  bash/error-handling/bats-extra.sh
  bash/error-handling/error_handling.sh
  bash/hamming/bats-extra.sh
  bash/hamming/hamming.sh
  bash/hello-world/bats-extra.sh
  bash/leap/bats-extra.sh
  bash/leap/leap.sh
  bash/pangram/bats-extra.sh
  bash/pangram/pangram.sh
  bash/proverb/bats-extra.sh
  bash/proverb/proverb.sh
  bash/raindrops/bats-extra.sh
  bash/raindrops/raindrops.sh
  bash/resistor-color-duo/bats-extra.sh
  bash/resistor-color-duo/resistor_color_duo.sh
  bash/reverse-string/bats-extra.sh
  bash/reverse-string/reverse_string.sh
  bash/scrabble-score/bats-extra.sh
  bash/scrabble-score/scrabble_score.sh
  bash/two-fer/bats-extra.sh
  bash/two-fer/two_fer.sh
  justfile
Due: fmt

chore: replace justfile by makefile
  .github/workflows/pr.yml
  Makefile
  justfile
Due: fmt

chore: replace `justfile` by `Makefile` (#31)
  .github/workflows/pr.yml
  Makefile
  justfile
Due: fmt

docs: update README
  README.md
Due: none

fix Makefile
  Makefile
Due: none

feat(rust): solve `binary-search`
  Cargo.toml
  rust/binary-search/.exercism/config.json
  rust/binary-search/.exercism/metadata.json
  rust/binary-search/.gitignore
  rust/binary-search/Cargo.toml
  rust/binary-search/HELP.md
  rust/binary-search/HINTS.md
  rust/binary-search/README.md
  rust/binary-search/src/lib.rs
  rust/binary-search/tests/binary-search.rs
Due: fmt, lint-rs

refactor
  rust/binary-search/src/lib.rs
Due: fmt, lint-rs

ci: fix rust test job
  .github/workflows/pr.yml
Due: fmt

feat(rust): solve `binary-search` (#32)
  .github/workflows/pr.yml
  Cargo.toml
  Makefile
  rust/binary-search/.exercism/config.json
  rust/binary-search/.exercism/metadata.json
  rust/binary-search/.gitignore
  rust/binary-search/Cargo.toml
  rust/binary-search/HELP.md
  rust/binary-search/HINTS.md
  rust/binary-search/README.md
  rust/binary-search/src/lib.rs
  rust/binary-search/tests/binary-search.rs
Due: fmt, lint-rs

feat(rust): solve `bowling`
  Cargo.toml
  rust/bowling/.exercism/config.json
  rust/bowling/.exercism/metadata.json
  rust/bowling/.gitignore
  rust/bowling/Cargo.toml
  rust/bowling/HELP.md
  rust/bowling/README.md
  rust/bowling/src/lib.rs
  rust/bowling/tests/bowling.rs
Due: fmt, lint-rs

feat(rust): solve `bowling` (#33)
  Cargo.toml
  rust/bowling/.exercism/config.json
  rust/bowling/.exercism/metadata.json
  rust/bowling/.gitignore
  rust/bowling/Cargo.toml
  rust/bowling/HELP.md
  rust/bowling/README.md
  rust/bowling/src/lib.rs
  rust/bowling/tests/bowling.rs
Due: fmt, lint-rs
